html,body,h1,h2,h3,h4,h5,h6,ul,li {
	margin: 0;
	padding: 0;
}
body {
	font: 14px/1.8 Arial;
	background: #ccc;
	color: #333;
}
li {
	list-style: none;
}
* {
	box-sizing: border-box;
}
section>ul>li {
	position: relative;
	margin-left: 90px;
}
.page {
	min-width: 850px;
	max-width: 1000px;
	margin: 20px auto;
	padding: 80px 40px;
	border-radius: 3px;
	background: white;
}
header {
	background: url(dot.png);
}
header:after {
	content: '';
	display: block;
	clear: both;
	margin-bottom: 50px;
}
header>.name {
	float: left;
	width: 50%;
}
header>.info {
	float: left;
	width: 50%;
}
header>.name>.circle {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background: #ffd104;
	float: left;
	position: relative;
	font-size: 40px;
}
header>.name>.circle>span {
	font-size: 40px;
	color: white;
}
header>.name>.circle:before {
	content: '';
	display: block;
	position: absolute;
	width: 90px;
	border-top: 3px solid white;
	transform: rotateZ(135deg);
	top: 68px;
	left: 30px;
}
header>.name>.circle>span:nth-child(1) {
	position: absolute;
	top: 25px;
	left: 25px;
}
header>.name>.circle>span:nth-child(2) {
	position: absolute;
	bottom: 25px;
	right: 25px;
}
header>.name>h3 {
	font-size: 30px;
	margin: 30px 0 0 160px;
}
header>.info>h3 {
	font-size: 30px;
	border-bottom: 3px solid #ffd104;
}
header p {
	font-size: 20px;
	color: #bbb;
	margin: 0 0 0 160px;
}
header li {
	font-size: 14px;
	color: #bbb;
}
header strong {
	display: inline-block;
	font-size: 16px;
	margin-right: 20px;
}
section>h2 {
	width: 50%;
	margin-bottom: 20px;
	border-bottom: 1px solid #ffd104;
}
section>ul>li>h3 {
	position: relative;
}
section>ul>li>h3>span {
	position: absolute;
	display: inline-block;
	top: 0;
	left: 260px;
	font-style: italic;
	font-weight: normal;
	color: #aaa;
}
section>ul {
	border-left: 4px solid #ffd104;
}
section>ul>li:before {
	content: '';
	display: block;
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #aaa;
	left: -97px;
	top: 10px;
}
footer:after {
	content: '';
	display: block;
	clear: both;
}
footer>div {
	float: left;
	width: 50%;


}

footer>div>h3 {
	font-size: 1.5em;
	width: 80%;
	margin-bottom: 20px;
	border-bottom: 1px solid #ffd104;
}
footer>div>ul>li {
	position: relative;
	padding-left: 30px;
	padding-right: 20px;
}
footer>div>ul h3 {
	font-size: 18px;

}
footer>div>ul>li:before {
	content: '+';
	display: block;
	position: absolute;
	font-size: 20px;
	color: #ffd104;
	top: 1.5%;
	left: 0px;
}
footer>div>ul>li:after {
	content: '';
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	border: 2px solid #ffd104;
	border-radius: 50%;
	top: 7%;
	left: -6px;
}
footer>div.skill>ul>li:after {
	content: '';
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	border: 2px solid #ffd104;
	border-radius: 50%;
	top: 14px;
	left: -6px;
}
footer .skill li {
	float: left;
	width: 50%;
	height: 50px;
	line-height: 50px;
	margin: 15px 0;
}
footer .skill ul {
	margin-top: -20px;
}









